.sort {
  position: relative;
  font-size: 24px;

  @media (max-width: 520px) {
    font-size: 16px;
  }

  b {
    margin-right: 10px;
  }

  span {
    color: var(--red);
    cursor: pointer;
  }

  .choose {
    position: absolute;
    right: 0;
    top: 40px;

    .item {
      font-size: 16px;
      padding: 10px 22px;
      border: 2px solid var(--gray);
      color: var(--gray);
      text-transform: uppercase;
      background: var(--white);
      border-bottom: none;
      cursor: pointer;


      &:first-child {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }

      &:last-child {
        border-end-end-radius: 10px;
        border-end-start-radius: 10px;
        border-bottom: 2px solid var(--gray);
      }

      &:hover {
        background-color: rgb(255, 207, 207);
        color: var(--red);
      }
    }

    .active {
      font-size: 16px;
      padding: 10px 22px;
      border: 2px solid var(--gray);
      background-color: var(--white);
      color: var(--red);
      text-transform: uppercase;
      border-bottom: none;
      cursor: pointer;

      &:first-child {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }

      &:last-child {
        border-end-end-radius: 10px;
        border-end-start-radius: 10px;
        border-bottom: 2px solid var(--gray);
      }

      &:hover {
        background-color: rgb(255, 207, 207);
        color: var(--red);
      }
    }
  }
}